@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  background-color: rgb(171, 217, 248);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 h2, h3, h4, h5, h6, li, p {
    font-family: Montserrat, sans-serif;
    font-size: medium;
    color: white;
}

 h1{
    font-family: Montserrat, sans-serif;
    font-size: larger;
    color: white;
}

header {
    background-color: #094C69;
    width: 1200px;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: #094C69;
    margin-top: 0px; /* Cambia este valor según necesites */
    position: relative;
}

header img {
    width: 50px; 
    height: auto; 
    margin-left: 0px;
  }

.logo {
    float: left;
    margin-right: 0px; 
    padding: 0px;
}

.title {
    float: left; 
    margin-left: -750px; 
    padding: 20px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.btn-challenge {
  color: #a5a7bb;
  left: -77px;
  top: -81px;
  font-family: sans-serif;
  font-size: inherit;
  background-color: #15498d;
  width: 150px;
  height: 40px;
  padding: 27px;
  border: 0;
  margin: 0;
  outline: 0;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
  position: relative;
  transition: background-color 180ms ease-out;
  align-items: center;
}
.btn-challenge > small {
  color: #00233a;
  font-size: 0.6em;
  font-weight: normal;
}
.btn-challenge:hover {
  background-color: #377fdd;
}
.btn-challenge:active, .btn-challenge:hover:active {
  background-color: #433d5b;
}

.btn-challenge2 {
    color: #a5a7bb;
    left: 120px;
    top: -136px;
    font-family: sans-serif;
    font-size: 5px;
    background-color: #15498d;
    width: 150px;
    height: 0px;
    padding: 27px;
    border: 0;
    margin: 0;
    outline: 0;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    transition: background-color 180ms ease-out;
    text-align: center;
  }
  .btn-challenge2 > small {
    color: #00233a;
    font-size: 0.6em;
    font-weight: normal;
  }
  .btn-challenge2:hover {
    background-color: #377fdd;
  }
  .btn-challenge2:active, .btn-challenge:hover:active {
    background-color: #433d5b;
  }

  .btn-challenge3 {
    color: #a5a7bb;
    left: 320px;
    top: -191px;
    font-family: sans-serif;
    font-size: 5px;
    background-color: #15498d;
    width: 150px;
    height: 0px;
    padding: 27px;
    border: 0;
    margin: 0;
    outline: 0;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    transition: background-color 180ms ease-out;
    text-align: center;
  }
  .btn-challenge3 > small {
    color: #00233a;
    font-size: 0.6em;
    font-weight: normal;
  }
  .btn-challenge3:hover {
    background-color: #377fdd;
  }
  .btn-challenge3:active, .btn-challenge:hover:active {
    background-color: #433d5b;
  }

  .btn-challenge4 {
    color: #a5a7bb;
    left: 507px;
    top: -247px;
    font-family: sans-serif;
    font-size: 5px;
    background-color: #15498d;
    width: 150px;
    height: 0px;
    padding: 27px;
    border: 0;
    margin: 0;
    outline: 0;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    transition: background-color 180ms ease-out;
    text-align: center;
  }
  .btn-challenge4 > small {
    color: #00233a;
    font-size: 0.6em;
    font-weight: normal;
  }
  .btn-challenge4:hover {
    background-color: #377fdd;
  }
  .btn-challenge4:active, .btn-challenge:hover:active {
    background-color: #433d5b;
  }

.hover-area {
  width: 150px;
  height: 65px;
  display: grid;
  grid-template-columns: repeat(13, 15px);
  grid-template-rows: repeat(10, 15px);
  position: absolute;
  top: 0;
  left: 0;
  perspective: 500px;
}


.btn {
    display: inline-block; /* Asegura que el botón se muestre en línea */
    width: auto; /* Ajusta el ancho automáticamente */
  }

.hover-area .hover-col {
  z-index: 1;
}
.hover-area .hover-col:nth-child(1):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(-90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(2):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(-75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(3):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(-60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(4):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(-45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(5):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(-30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(6):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(-15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(7):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(0deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(8):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(9):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(10):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(11):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(12):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(13):hover ~ .icon-home {
  transform: scale(1) rotateX(45deg) rotateY(90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(14):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(-90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(15):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(-75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(16):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(-60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(17):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(-45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(18):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(-30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(19):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(-15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(20):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(0deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(21):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(22):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(23):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(24):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(25):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(26):hover ~ .icon-home {
  transform: scale(1) rotateX(22.5deg) rotateY(90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(27):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(-90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(28):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(-75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(29):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(-60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(30):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(-45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(31):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(-30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(32):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(-15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(33):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(0deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(34):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(35):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(36):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(37):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(38):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(39):hover ~ .icon-home {
  transform: scale(1) rotateX(0deg) rotateY(90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(40):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(-90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(41):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(-75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(42):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(-60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(43):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(-45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(44):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(-30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(45):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(-15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(46):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(0deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(47):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(48):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(49):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(50):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(51):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(52):hover ~ .icon-home {
  transform: scale(1) rotateX(-22.5deg) rotateY(90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(53):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(-90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(54):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(-75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(55):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(-60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(56):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(-45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(57):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(-30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(58):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(-15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(59):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(0deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(60):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(15deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(61):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(30deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(62):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(45deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(63):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(60deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(64):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(75deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .hover-col:nth-child(65):hover ~ .icon-home {
  transform: scale(1) rotateX(-45deg) rotateY(90deg);
  transition: transform 380ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.hover-area .icon-home {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 91px;
  left: calc(50% - 40px);
  transform-origin: bottom center;
  transform-style: preserve-3d;
  transform: scale(0);
  transition: transform 225ms ease-out;
}
.hover-area .icon-home .roof {
  height: 90px;
  position: absolute;
  left: 50%;
  transform-origin: bottom center;
  transform-style: preserve-3d;
  transform: translateZ(45px) rotateX(90deg);
}
.hover-area .icon-home .roof.roof.roof-1 {
  top: -90px;
}
.hover-area .icon-home .roof.roof.roof-2 {
  top: -110px;
}
.hover-area .icon-home .roof:before, .hover-area .icon-home .roof:after {
  content: "";
  background-color: #325d8f;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
}
.hover-area .icon-home .roof:before {
  right: 0;
  transform-origin: bottom right;
  transform: rotateY(-37.5deg);
  filter: brightness(105%);
}
.hover-area .icon-home .roof:after {
  left: 0;
  transform-origin: bottom left;
  transform: rotateY(37.5deg);
  filter: brightness(95%);
}
.hover-area .icon-home .roof-design {
  height: 20px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform-style: preserve-3d;
}
.hover-area .icon-home .roof-design.roof-design-1 {
  transform: translateZ(45px);
}
.hover-area .icon-home .roof-design.roof-design-2 {
  transform: translateZ(-45px);
}
.hover-area .icon-home .roof-design:before, .hover-area .icon-home .roof-design:after {
  content: "";
  background-color: #437dc0;
  width: 55px;
  height: 20px;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
}
.hover-area .icon-home .roof-design:before {
  right: 0;
  transform-origin: bottom right;
  transform: skewY(-37.5deg);
}
.hover-area .icon-home .roof-design:after {
  left: 0;
  transform-origin: bottom left;
  transform: skewY(37.5deg);
}
.hover-area .icon-home .roof-side {
  background-color: #284a70;
  width: 90px;
  height: 20px;
  position: absolute;
  top: 22px;
  transform-origin: top left;
  transform-style: preserve-3d;
  transform: translateZ(45px) rotateY(90deg);
}
.hover-area .icon-home .roof-side.roof-side-1 {
  left: -15px;
  filter: brightness(105%);
}
.hover-area .icon-home .roof-side.roof-side-2 {
  right: -105px;
  filter: brightness(95%);
}
.hover-area .icon-home .roof-wall {
  border-top: none;
  border-bottom: solid 31px #a5a7bb;
  border-left: solid 40px transparent;
  border-right: solid 40px transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}
.hover-area .icon-home .roof-wall.roof-wall-1 {
  transform: translateZ(40px);
}
.hover-area .icon-home .roof-wall.roof-wall-2 {
  transform: translateZ(-40px);
}
.hover-area .icon-home .wall {
  background-color: #a5a7bb;
  width: 81px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform-style: preserve-3d;
}
.hover-area .icon-home .wall.wall-1 {
  transform: translateZ(40px);
}
.hover-area .icon-home .wall.wall-2 {
  transform: translateZ(-40px);
  filter: brightness(90%);
}
.hover-area .icon-home .wall.wall-3 {
  transform: rotateY(90deg) translateZ(-40px);
  filter: brightness(105%);
}
.hover-area .icon-home .wall.wall-4 {
  transform: rotateY(90deg) translateZ(40px);
  filter: brightness(95%);
}
.hover-area .icon-home .door {
  background-color: #094C69;
  width: 30px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
  transform-style: preserve-3d;
  transform: translateZ(40px);
}
.hover-area .icon-home .floor {
  background-color: #a5a7bb;
  width: 81px;
  height: 81px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-40px) scale(1.01);
  filter: brightness(90%);
}


        /* Estilos para la barra de búsqueda */
        .search-container {
          margin-bottom: 20px;
          text-align: center;
      }

      .search-input {
          width: 300px;
          padding: 10px;
          font-size: 16px;
          border-radius: 25px; /* Hacemos la barra de búsqueda redondeada */
          border: none;
          background-color: rgba(16, 179, 233, 0.678); /* Color celeste transparente */
          margin-bottom: 20px;
          transition: width 0.4s ease-in-out; /* Transición para el cambio de tamaño */
          outline: none; /* Quitamos el borde al enfocar */
          color: #000; /* Color del texto */
          font-family: Arial, sans-serif; /* Tipo de fuente */
      }

      .search-input:focus {
          width: 350px; /* Expandimos la barra de búsqueda al enfocar */
      }

      .search-icon {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
      }

      .search-icon::before {
          content: "\1F50D"; /* Código Unicode para el icono de lupa */
          font-size: 20px;
          color: #000; /* Color del icono */
      }

      /* Estilos para la animación de la lupa */
      @keyframes scaleIcon {
          0% {
              transform: scale(1);
          }
          50% {
              transform: scale(1.2);
          }
          100% {
              transform: scale(1);
          }
      }

      /* Estilos para las propiedades */
      .property-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
      }

      .property {
          width: 300px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin: 10px;
          padding: 15px;
          background-color: #e1f7ff;
          transition: all 0.5s ease;
          display: flex;
          flex-direction: column;
          align-items: center;
          opacity: 1;
      }

      .property.fade-out {
          opacity: 0;
          transform: translateY(20px);
      }

      .property.fade-in {
          opacity: 1;
          transform: translateY(0);
      }

      .property:hover {
          transform: scale(1.2);
          font-weight: 900;
      }

      .property h3 {
          margin-top: 0;
          color: #000000;
      }

      .property p {
          margin: 5px 0;
          color: #000000;
      }

      .propertystrongfont {
          color: black;
      }

      .property-font {
          font-size: smaller;
          color: #000000;
      }

      .property button {
          padding: 8px 16px;
          background-color: #094C69;
          color: #000000;
          border: none;
          cursor: pointer;
          border-radius: 5px;
      }

      .imagen {
          padding: 200px;
          height: 100px;
      }

      .property img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          margin-bottom: 10px;
          border-radius: 20px;
      }
  .propiedades{
    height: 0px;
  }